<div class="footer ml-auto mr-auto mb-10 footer-dark bg-dark d-flex justify-content-center page-footer font-small pt-2 fixed-bottom">
    <a class="btn-social-media btn-default btn-round btn-lg btn-icon" 
    href="#" rel="tooltip"
         title="">
        <i class="fa fa-linkedin fa-lg "></i>
    </a>
    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
        href="#" rel="tooltip" 
        title="">
        <i class="fa fa-github fa-lg "></i>
    </a>
    <a class="btn-social-media btn-default btn-round btn-lg btn-icon"
        href="#"rel="tooltip" target="_self"
        title="">
        <i class="fa fa-youtube fa-lg "></i>
    </a>
</div>