

<section class="text-gray-600 body-font relative">
    <div class="container px-5 mx-auto flex flex-wrap">
        <h2> Contact Form</h2>
        <form>
            
                <div class="col-md-4 mb-3">
                  <label for="validationDefault01">Name</label>
                  <input type="text" class="form-control" id="validationDefault01" placeholder="enter your name" required>
                </div>
                
              
            <div class="form-group col-md-4 mb-3">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="enter your email" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Details</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="enter your request" rows="3"></textarea>
              </div>

            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </section>