<section>
    <div class="container c1">
        <div class="row justify-content-center align-content-center">
            <div class="col-12">
                <div class="d-flex flex-box justify-content-center align-content-center">
                    <ngb-carousel class="c2">
                        <ng-template ngbSlide class="c3">
                          <div class="picsum-img-wrapper">
                            <div class="client-img"><img src="assets/Images/c1.png" alt="Testimonial Slider" /></div>
       
                            <p><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                                 has been the industry's standard dummy text. There are many variations of passages
                                                  of Lorem Ipsum available, but the majority have suffered alteration in some form.Lorem
                                                   ipsum dolor sit amet. Rem modi cumque cum officiis molestiae aut rerum praesentium
                                                    ut repudiandae laboriosam et consequatur asperiores nam libero excepturi hic 
                                                    adipisci praesentium! </i></p>
                                                    <h3><span>-</span> Jane Doe <span>-</span></h3>
                          </div>
                        </ng-template>
                        <ng-template ngbSlide class="c3">
                            <div class="picsum-img-wrapper">
                              <div class="client-img"><img src="assets/Images/c1.png" alt="Testimonial Slider" /></div>
         
                              <p><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                                   has been the industry's standard dummy text. There are many variations of passages
                                                    of Lorem Ipsum available, but the majority have suffered alteration in some form.Lorem
                                                     ipsum dolor sit amet. Rem modi cumque cum officiis molestiae aut rerum praesentium
                                                      ut repudiandae laboriosam et consequatur asperiores nam libero excepturi hic 
                                                      adipisci praesentium! </i></p>
                                                      <h3><span>-</span> John Doe <span>-</span></h3>
                            </div>
                          </ng-template>
                        <ng-template ngbSlide class="c3">
                            <div class="client-img"><img src="assets/Images/c1.png" alt="Testimonial Slider" /></div>
       
                            <p><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                                 has been the industry's standard dummy text. There are many variations of passages
                                                  of Lorem Ipsum available, but the majority have suffered alteration in some form.Lorem
                                                   ipsum dolor sit amet. Rem modi cumque cum officiis molestiae aut rerum praesentium
                                                    ut repudiandae laboriosam et consequatur asperiores nam libero excepturi hic 
                                                    adipisci praesentium! </i></p>
                                                    <h3><span>-</span> Jane Doe <span>-</span></h3>
                        </ng-template>
                      </ngb-carousel>
                </div>
            </div> 
        </div>
    </div>
</section>

