
  <div id="home"
    class="hero-container aos-init aos-animate row no-gutters justify-content-center align-items-center" style="border:1px black solid; margin: 0%;" 
  data-aos="fade-in">
    <div class="col-lg-8 justify-content-center align-items-center" style="padding-left:20%;">
        <img src="../../assets/Images/jj.png" alt="No Img">
    </div>
    <div class="col-lg-4 justify-content-center align-items-center">
        <p> Hi , I'm <b>Jees Maria J</b></p>
        <p>I am a Freelance Developer.</p>
        <br>
        <button class="primary-button b1" data-aos="flip-left" type="submit" (click)="goToPage()" >Hire Me</button>
    </div>   
  </div>

        

